.reveal {
  .reveal-container {
    position: relative;
  }
  .reveal-cover {
    position: absolute;
  }
  .reveal-content {
    padding: 0 2%;
    overflow-y: auto;
  }
  .out {
    display: none;
  }
}